.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* syle for the navigation bar */

  /* links */
.nav a{
  color: #ddd;
  padding-inline: 10px;
  padding-block: 10px;
  transition: 0.5s;
  font-weight: bold;
  text-transform: uppercase;
  font-size: small;
}
.nav .active {
  color: darkgreen;
  border-radius: 5px;

}
.nav a:hover{
  color: darkgreen;
  border-radius: 5px;
  opacity: 0.6;
  color: #ddd;
}


.cont-core{
  transition: 0.5s ease;
}
.cont-core:hover {
  background-color: #282c34;
  transition: 0.5s ease;
}